**Data Types and Structures Questions**

1. DP What are data structures, and why are they important

=> Data structures are ways of organizing and storing data for efficient access and modification.

They are important because they help optimize the performance of algorithms and improve code efficiency.

2. Explain the difference between mutable and immutable data types with examples

=> Mutable types (lists, dictionaries) can be changed after creation. Immutable types (tuples, strings) cannot.

3. What are the main differences between lists and tuples in Python

=> Lists are mutable, while tuples are immutable. Lists have dynamic sizes, while tuples have fixed sizes.

4. Describe how dictionaries store data

=> Dictionaries store data in key-value pairs using a hash table for quick access.

5. Why might you use a set instead of a list in Python

=> Sets are useful when unique values are needed, as they automatically remove duplicates.

6. What is a string in Python, and how is it different from a list

=> A string is a sequence of characters, immutable, while a list is a collection of mutable elements.

7. How do tuples ensure data integrity in Python

=> Tuples ensure data integrity by being immutable, meaning their contents cannot be changed after creation. This makes them reliable for storing fixed data.

8.  What is a hash table, and how does it relate to dictionaries in Python?

=> A hash table is a data structure that maps keys to values using a hashing function. In Python, dictionaries use hash tables to allow fast lookups.

9. Can lists contain different data types in Python

---

=> Yes, lists can contain different data types in Python, such as integers, strings, and objects within the same list.

10.  Explain why strings are immutable in Python

---

=> Strings are immutable in Python to ensure security, improve performance through interning, and allow safe sharing of string objects across the program.

11. What advantages do dictionaries offer over lists for certain tasks3

=> Dictionaries are preferred over lists when fast lookups, insertions, and deletions by key are required. They allow O(1) average-time complexity for these operations.

12. Describe a scenario where using a tuple would be preferable over a list

=> Tuples are preferable over lists when the data should not change, such as defining constant values or returning multiple values from a function.

13. How do sets handle duplicate values in Python?

=> Sets do not allow duplicate values. When an item is added to a set, any duplicates are automatically removed.

14. How does the “in” keyword work differently for lists and dictionaries?

=> The "in" keyword in lists searches for an element linearly (O(n)), while in dictionaries, it checks for keys using hashing (O(1) on average).

15. Can you modify the elements of a tuple? Explain why or why not.

=> Tuples cannot be modified after creation because they are immutable. However, if they contain mutable objects like lists, those inner objects can be changed.

16. What is a nested dictionary, and give an example of its use case?

=> A nested dictionary is a dictionary containing another dictionary as a value.

In [37]:
student = {"name": "Alice", "grades": {"math": 90, "science": 85}}
print(student)

{'name': 'Alice', 'grades': {'math': 90, 'science': 85}}

17. Describe the time complexity of accessing elements in a dictionary

=> Accessing elements in a dictionary has O(1) time complexity on average due to hashing, making it faster than searching in a list.

18. In what situations are lists preferred over dictionaries

=> Lists are preferred over dictionaries when the order of elements is important or when storing sequential data that does not require key-value pairs.

19. Why are dictionaries considered unordered, and how does that affect data retrieval?

=> Dictionaries are unordered before Python 3.7 (after which they maintain insertion order). This means elements cannot be retrieved by index, only by key.

20. Explain the difference between a list and a dictionary in terms of data retrieval.

=> Lists store elements in order and allow retrieval by index, whereas dictionaries store key-value pairs and allow retrieval by key.

**Practical Questions**

1. Write a code to create a string with your name and print it

In [2]:
name = "Krutvik"
print(name)

Krutvik

2. Write a code to find the length of the string "Hello World"

In [3]:
string = "Hello World"
print(len(string))

11

3. Write a code to slice the first 3 characters from the string "Python Programming"

In [6]:
text = "Python Programming"
print(text[:3])

Pyt

4. Write a code to convert the string "hello" to uppercase

In [7]:
print("hello".upper())

HELLO

5. Write a code to replace the word "apple" with "orange" in the string "I like apple"

In [8]:
sentence = "I like apple"
print(sentence.replace("apple", "orange"))

I like orange

6. Write a code to create a list with numbers 1 to 5 and print it.

In [9]:
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

7. Write a code to append the number 10 to the list [1, 2, 3, 4]

In [10]:
num_list = [1, 2, 3, 4]
num_list.append(10)
print(num_list)

[1, 2, 3, 4, 10]

8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

In [11]:
num_list = [1, 2, 3, 4, 5]
num_list.remove(3)
print(num_list)

[1, 2, 4, 5]

9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']

In [12]:
char_list = ['a', 'b', 'c', 'd']
print(char_list[1])

b

10. Write a code to reverse the list [10, 20, 30, 40, 50].

In [13]:
num_list = [10, 20, 30, 40, 50]
num_list.reverse()
print(num_list)

[50, 40, 30, 20, 10]

11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [14]:
tuple_example = (100, 200, 300)
print(tuple_example)

(100, 200, 300)

12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [15]:
colors = ('red', 'green', 'blue', 'yellow')
print(colors[-2])

blue

13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [16]:
numbers = (10, 20, 5, 15)
print(min(numbers))

5

14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [17]:
animals = ('dog', 'cat', 'rabbit')
print(animals.index("cat"))

1

15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [18]:
fruits = ('apple', 'banana', 'cherry')
print("kiwi" in fruits)

False

16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [19]:
letters = {'a', 'b', 'c'}
print(letters)

{'b', 'c', 'a'}

17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [20]:
numbers = {1, 2, 3, 4, 5}
numbers.clear()
print(numbers)

set()

18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [21]:
numbers = {1, 2, 3, 4}
numbers.remove(4)
print(numbers)

{1, 2, 3}

19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [22]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
print(set1.union(set2))

{1, 2, 3, 4, 5}

20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [23]:
print(set1.intersection(set2))

{3}

21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [26]:
info = {"name": "Krutvik", "age": 24, "city": "Vadodara"}
print(info)

{'name': 'Krutvik', 'age': 24, 'city': 'Vadodara'}

22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [25]:
info["country"] = "USA"
print(info)

{'name': 'John', 'age': 25, 'city': 'New York', 'country': 'USA'}

23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [27]:
info = {'name': 'Alice', 'age': 30}
print(info["name"])

Alice

24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [28]:
info = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del info["age"]
print(info)

{'name': 'Bob', 'city': 'New York'}

25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [29]:
info = {'name': 'Alice', 'city': 'Paris'}
print("city" in info)

True

26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [30]:
data_list = [1, 2, 3]
data_tuple = (4, 5, 6)
data_dict = {"a": 7, "b": 8}
print(data_list, data_tuple, data_dict)

[1, 2, 3] (4, 5, 6) {'a': 7, 'b': 8}

27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)

In [31]:
import random
random_numbers = random.sample(range(1, 101), 5)
random_numbers.sort()
print(random_numbers)

[11, 19, 68, 77, 92]

28. Write a code to create a list with strings and print the element at the third index.

In [32]:
string_list = ["apple", "banana", "cherry", "date"]
print(string_list[2])

cherry

29.  Write a code to combine two dictionaries into one and print the result.

In [33]:
dict1 = {"a": 1, "b": 2}
dict2 = {"c": 3, "d": 4}
combined_dict = {**dict1, **dict2}
print(combined_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

30. Write a code to convert a list of strings into a set.

In [34]:
string_list = ["apple", "banana", "cherry", "apple"]
string_set = set(string_list)
print(string_set)

{'banana', 'apple', 'cherry'}